@page
@model Proiect_Web_Onetiu_Malan.Pages.Destinations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Destination.EntryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destination.EntryDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Destination?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
